# Python bytecode
__pycache__/
*.pyc

# Python virtual environments
venv/
.env
jarvis-env/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Python packaging artifacts
*.egg-info/
dist/
build/
.obsidian/